:root {
    --inner-shadow: inset 3px 3px 3px #d0d0d0, inset -3px -3px 3px #f8f8f8;
    --outer-shadow-0: 0 0 0 #d0d0d0, 0 0 0 #f8f8f8;
    --outer-shadow: 3px 3px 3px #d0d0d0, -3px -3px 3px #f8f8f8;
}


.link {
    font-weight: lighter;
    font-size: 0.8rem !important;
    transition: all linear 0.5s;
    height: 40px;
}

.link.active {
    font-weight: bold;
    font-size: 1.5rem !important;
    height: 52px;
}

.link:hover {
    font-weight: bold;
    font-size: 1rem !important;
}

.link.active:hover {
    font-weight: bold;
    font-size: 1.5rem !important;
}

.nav-item .active {
    color: var(--dark);
    font-weight: bold;
    font-size: 1.2rem !important;
}

.dropdown-menu {
    background-color: #f1f1f1;
}

.popover-body {
    background-color: #f1f1f1 !important;
}