<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Output add</title>
    <link rel="stylesheet" th:href="@{/assets/css/bootstrap.css}">
    <link rel="stylesheet" th:href="@{/assets/css/main.css}">
</head>
<body>
<div class="modal fade" id="noProducts" tabindex="6" aria-labelledby="modalLabel" role="dialog" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content" style="background-color: #f1f1f1">
            <div class="modal-body">
                <div class="alert alert-danger" id="alert">
                    <p>Not any product in warehouse
                        <strong th:text="${warehouse.name}"></strong>
                        for currency <strong th:text="${currency.name}"></strong></p>
                </div>
                <button onclick="history.back()" class="btn btn-success mt-3 ml-auto">Back</button>
            </div>
        </div>

    </div>
</div>
<div class="px-5 " id="main">

    <form action="/output/addOutput/products" class="mt-3 needs-validation" method="post">
        <div class="text-right">
            <button type="submit" class="btn shadow" style="background:#f1f1f1">Submit</button>
        </div>
        <div class="row">
            <div class="col-8">
                <div class="my-3 rounded row m-0 py-3 px-2 shadow">
                    <div class="col-4">
                        <label for="date">Date</label>
                        <input type="date" id="date" th:value="${output.date}" required name="date" class="form-control"
                               th:max="${today}" style="background-color: #f1f1f1;box-shadow: var(--inner-shadow)">
                    </div>
                    <div class="col-4">
                        <label for="factureNumber">Facture number</label>
                        <input type="number" th:value="${output.factureNumber}" id="factureNumber" min="1"
                               placeholder="Facture number" required name="factureNumber"
                               class="form-control" style="background-color: #f1f1f1;box-shadow: var(--inner-shadow)">
                    </div>
                    <div class="col-4">
                        <label for="currencyIdRead">Currency</label>
                        <input type="text" readonly th:value="${currency.name}" id="currencyIdRead" class="form-control"
                               style="background-color: #f1f1f1;box-shadow: var(--inner-shadow)"/>
                        <input type="hidden" th:value="${currency.id}" name="currencyId" id="currencyId" required
                               class="form-control"
                               style="background-color: #f1f1f1;box-shadow: var(--inner-shadow)"/>
                    </div>
                    <div class="col-6 mt-3">
                        <label for="warehouseIdRead">Warehouse</label>
                        <input type="text" id="warehouseIdRead" th:value="${warehouse.name}" readonly
                               class="form-control"
                               style="background-color: #f1f1f1;box-shadow: var(--inner-shadow)"/>
                        <input type="hidden" th:value="${warehouse.id}" name="warehouseId" id="warehouseId" required
                               class="form-control"
                               style="background-color: #f1f1f1;box-shadow: var(--inner-shadow)"/>
                    </div>
                    <div class="col-6 mt-3">
                        <label for="clientId">Client</label>
                        <select name="clientId" id="clientId" required class="form-control "
                                style="background-color: #f1f1f1;box-shadow: var(--inner-shadow)">
                            <option th:each="clientThis: ${clientList}"
                                    th:text="${clientThis.name+' '+clientThis.phoneNumber}"
                                    th:value="${clientThis.id}"></option>
                        </select>
                    </div>

                </div>
            </div>
            <div class="col-4">
                <div class="my-3 rounded row m-0 py-3 px-2 shadow" style="overflow-y: auto; max-height: 400px">
                    <strong class="text-center">Choose products</strong>
                    <div class="form-check w-100" th:each="inputProduct, i: ${products}">
                        <input th:value="${inputProduct.id}" class="form-check-input"
                               th:disabled="${inputProduct.amount==0}"
                               th:id="${'checkbox'+inputProduct.id}" type="checkbox"
                               th:name="${'productList['+i.index+']'}">

                        <label data-toggle="popover" data-placement="top" style="cursor:pointer;"
                               class="form-check-label" th:for="${'checkbox'+inputProduct.id}"
                               th:text="${inputProduct.product.name+' - '+inputProduct.price}"
                        ></label>
                    </div>
                </div>
            </div>
        </div>
    </form>
    <button data-toggle="modal" data-target="#noProducts" id="btnModal" hidden></button>
</div>

<script src="/assets/js/jquery-3.3.1.slim.min.js"></script>
<script src="/assets/js/popper.min.js"></script>
<script src="/assets/js/bootstrap.min.js"></script>
<script th:inline="javascript">
    let notificationsCount =/*[[${@notificationService.getNotificationsCount()}]]*/0,
        user =/*[[${@authService.getUser(#httpServletRequest)}]]*/{},
        inputProducts =/*[[${products}]]*/[],
        clients =/*[[${clientList}]]*/[]
    window.onload = () => {
        if (inputProducts.length === 0) {
            $("#noProducts").modal('show')
        }
    }
    $("form").submit(function () {
        const checkbox = $("input:checked")
        if (checkbox.length < 1) {
            alert("Choose minimum 1 product")
            return false;
        }
        return true
    })
    document.querySelector("#clientId").value =/*[[${client}]]*/clients[0].id
    $(document).ready(function () {
        $(function () {
            $('[data-toggle="popover"]').popover({html: true, trigger: 'hover'})
        })
        let elements = document.querySelectorAll('[data-toggle=popover]')
        for (let i = 0; i < elements.length; i++) {
            elements[i].setAttribute('data-content',
                `<img width="100" src="${inputProducts[i].product.photo ?
                    `/data/product/${inputProducts[i].product.id}/photo` : "/assets/icons/not-image.png"}"/>`)
        }
    })

</script>
<script th:src="@{/assets/js/context.js}"></script>
</body>
</html>