<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Most sold</title>
    <link rel="stylesheet" th:href="@{/assets/css/bootstrap.css}">
    <link rel="stylesheet" th:href="@{/assets/css/main.css}">
</head>
<body>
<div id="main">
    <h1>Lorem ipsum dolor</h1>
    <hr>
    <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequuntur dolore eaque, ex excepturi facilis molestiae natus nemo nihil repudiandae saepe? At doloribus et itaque necessitatibus neque officiis pariatur provident voluptas.
    </p>
</div>
<script th:src="@{/assets/js/context.js}"></script>
</body>
</html>