<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="${'Notifications'+(notifications_count>0?'('+notifications_count+')':'')}"></title>
    <link rel="stylesheet" th:href="@{/assets/css/bootstrap.css}">
    <link rel="stylesheet" th:href="@{/assets/css/main.css}">
</head>
<body>
<div class="px-5 py-3" id="main">
    <div class="d-flex justify-content-between align-items-center my-3">
        <h1>Notifications</h1>
    </div>
    <div class="">
        <form action="/dashboard/expire_date" method="post" class="d-flex justify-content-between col-6">
            <input type="number" min="0" max="365" required class="form-control col-8" th:value="${expire_date}">
            <button type="submit" class="btn btn-success">Submit</button>
        </form>
    </div>
    <table class="table table-hover text-center">
        <thead>
        <tr>
            <th>№</th>
            <th>Product</th>
            <th>Expire date</th>
        </tr>
        </thead>
    </table>
</div>
<script th:inline="javascript">
    let notificationsCount="[[${notifications_count}]]"??0
</script>
<script th:src="@{/assets/js/context.js}"></script>
</body>
</html>