<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="${'Notifications'+(notifications_count>0?'('+notifications_count+')':'')}"></title>
    <link rel="stylesheet" th:href="@{/assets/css/bootstrap.css}">
    <link rel="stylesheet" th:href="@{/assets/css/main.css}">
</head>
<body>
<div class="px-5 py-3" id="main">
    <div class="d-flex justify-content-between align-items-center my-3 shadow px-4 py-3 my-3">
        <h1>Notifications</h1>
        <form action="/dashboard/expire_date" method="post"
              class="d-flex align-items-center justify-content-between col-5">
            <label for="period">Period: </label>
            <input type="number" id="period" min="0" max="365" name="period"
                   placeholder="Period"
                   style="background-color: #f1f1f1; box-shadow: var(--inner-shadow)"
                   required class="form-control col-7" th:value="${expire_date}">
            <button type="submit" class="btn btn-success">Submit</button>
        </form>
    </div>
    <div class="">

    </div>
    <table class="table table-hover text-center mt-3">
        <thead>
        <tr>
            <th>№</th>
            <th>Product</th>
            <th>Expire date</th>
            <th>Amount</th>
            <th>Price</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        <tr th:if="${products.size()==0}">
            <td colspan="6">Not data yet</td>
        </tr>
        <tr th:each="inputProduct, i: ${products}">
            <td th:text="${i.index+1}"></td>
            <td th:text="${inputProduct.product.name}"></td>
            <td th:text="${inputProduct.expireDate}"></td>
            <td th:text="${inputProduct.amount}"></td>
            <td th:text="${inputProduct.price}"></td>
            <th>
                <a th:href="${'/input/getInput/'+inputProduct.input.id+'?active='+inputProduct.id}"
                   class="nav-link">&#8594;</a>
            </th>
        </tr>
        </tbody>
    </table>
</div>
<script th:inline="javascript">
    let notificationsCount =/*[[${notifications_count}]]*/0
    let user =/*[[${@authService.getUser(#httpServletRequest)}]]*/{}
</script>
<script th:src="@{/assets/js/context.js}"></script>
</body>
</html>