<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Not found</title>
    <link rel="stylesheet" th:href="@{/assets/css/bootstrap.css}">
    <link rel="stylesheet" th:href="@{/assets/css/main.css}">
</head>
<body style="background-color: #f1f1f1;height: 100vh">
<div class="d-flex align-items-center justify-content-center h-100 pb-5">
    <div class="text-center">
        <h1 style="font-size: 10rem">404</h1>
        <p>This page not found. Go to <a href="/" class="nav-link">home page.</a></p>
    </div>

</div>

</body>
</html>