<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Input edit</title>
    <link rel="stylesheet" th:href="@{/assets/css/bootstrap.css}">
    <link rel="stylesheet" th:href="@{/assets/css/main.css}">
    <style>
        .bg-danger .remove-btn {
            color: white;
        }

        .add-btn {
            width: 40px;
            height: 40px;
            line-height: 1;
            position: absolute;
            right: -20px;
            top: -15px;
            background: #f1f1f1;
        }

        .add-btn:hover {
            background: var(--success);
            color: #f1f1f1 !important;
        }

        .add-bg {
            position: relative;
            height: 10px;
        }

        tr {
            transition: background-color ease-in-out 2s;
        }
    </style>
</head>
<body>


<div class="py-4 " id="main">
    <form th:action="${'/input/editInputSave/'+input.id}" method="post">
        <div class="text-right">
            <button type="submit" class="btn shadow" style="background:#f1f1f1">Submit</button>
        </div>
        <div class="my-3 rounded row m-0 py-3 px-2 shadow">
            <div class="col-4">
                <label for="date">Date</label>
                <input type="date" id="date" th:max="${today}" name="date" class="form-control"
                       style="background-color: #f1f1f1;box-shadow: var(--inner-shadow)" th:value="${input.date}"
                >
            </div>
            <div class="col-4">
                <label for="factureNumber">Facture number</label>
                <input type="number" id="factureNumber" placeholder="Facture number"
                       name="factureNumber" class="form-control"
                       style="background-color: #f1f1f1;box-shadow: var(--inner-shadow)"
                       th:value="${input.factureNumber}"
                >
            </div>
            <div class="col-4">
                <label for="currencyId">Currency</label>
                <select name="currencyId" id="currencyId" required class="form-control"
                        style="background-color: #f1f1f1;box-shadow: var(--inner-shadow)">
                    <option th:each="currency: ${currencyList}" th:selected="${currency.id==input.currency.id}"
                            th:text="${currency.name}" th:value="${currency.id}"
                    ></option>
                </select>
            </div>
            <div class="col-6 mt-3">
                <label for="warehouseId">Warehouse</label>
                <select name="warehouseId" id="warehouseId" required class="form-control"
                        style="background-color: #f1f1f1;box-shadow: var(--inner-shadow)">
                    <option th:each="warehouse: ${warehouseList}" th:selected="${warehouse.id==input.warehouse.id}"
                            th:text="${warehouse.name}" th:value="${warehouse.id}"
                    ></option>
                </select>
            </div>
            <div class="col-6 mt-3">
                <label for="supplierId">Supplier</label>
                <select name="supplierId" id="supplierId" required class="form-control "
                        style="background-color: #f1f1f1;box-shadow: var(--inner-shadow)">
                    <option th:each="supplier: ${supplierList}" th:selected="${supplier.id==input.supplier.id}"
                            th:text="${supplier.name+' '+supplier.phoneNumber}" th:value="${supplier.id}"
                    ></option>
                </select>
            </div>

        </div>
        <table class="table table-hover shadow rounded">
            <thead>
            <tr>
                <th>№</th>
                <th>Product</th>
                <th>Expire date</th>
                <th>Price</th>
                <th>Amount</th>
            </tr>
            </thead>
            <tbody id="productList" data-spy="scroll" data-offset="1" data-target="main">
            <tr th:each="inputProduct, i: ${inputProducts}" th:id="${'target'+inputProduct.id}">
                <td th:text="${i.index+1}"></td>
                <td>
                    <input type="hidden" th:name="${'inputProducts['+i.index+'].inputProductId'}"
                           th:value="${inputProduct.id}">
                    <input type="text" th:value="${inputProduct.product.name}"
                           disabled class="form-control"
                           style="background-color: #f1f1f1;box-shadow: var(--inner-shadow)"
                    >
                </td>
                <td><input class="form-control" style="background-color: #f1f1f1;box-shadow: var(--inner-shadow)"
                           th:name="${'inputProducts['+i.index+'].expireDate'}"
                           required type="date" th:value="${inputProduct.expireDate}"></td>
                <td><input class="form-control" required min="1"
                           style="background-color: #f1f1f1;box-shadow: var(--inner-shadow)"
                           th:name="${'inputProducts['+i.index+'].price'}"
                           placeholder="Price" type="number" th:value="${inputProduct.price}"></td>
                <td><input class="form-control" required min="0"
                           th:name="${'inputProducts['+i.index+'].amount'}"
                           style="background-color: #f1f1f1;box-shadow: var(--inner-shadow)"
                           placeholder="Amount" type="number" th:value="${inputProduct.amount}"></td>
                <td>
                    <button type="button" th:disabled="${i.index==0}"
                            onmousemove="this.parentElement.parentElement.classList.add('table-danger')"
                            onmouseout="this.parentElement.parentElement.classList.remove('table-danger')"
                            onclick="removeRow(this)" th:data="${i.index}"
                            class="btn border-0 bg-transparent remove-btn">
                        &times;
                    </button>
            </tr>
            </tbody>
        </table>
    </form>
</div>

<script src="/assets/js/jquery-3.3.1.slim.min.js"></script>
<script src="/assets/js/popper.min.js"></script>
<script src="/assets/js/bootstrap.min.js"></script>
<script th:inline="javascript">
    let notificationsCount =/*[[${@notificationService.getNotificationsCount()}]]*/0,
        user =/*[[${@authService.getUser(#httpServletRequest)}]]*/{}

    function getQuery(name) {
        return new URLSearchParams(location.search).get(name)
    }
</script>
<script th:src="@{/assets/js/context.js}"></script>
<script th:inline="javascript">
    window.onload = () => {
        if (getQuery('active')) {
            const target = document.getElementById('target' + getQuery('active'))
            target.scrollIntoView({behavior: 'smooth', block: 'center'})
            target.classList.add('table-primary')
            setTimeout(() => {
                target.classList.remove('table-primary')
            }, 2000)
        }
    }

    function removeRow(button) {

        const table = document.querySelector('#productList'), rowId = parseInt(button.getAttribute("data"))
        let childCount = table.childElementCount
        table.children.item(rowId).remove()
        if ((rowId + 1) !== childCount) {
            for (let i = rowId; i < childCount - 1; i++) {
                const tr = table.children.item(i)
                let startName = `inputProducts[${i}]`
                tr.children.item(0).innerHTML = (i + 1).toString()
                tr.children.item(1).children.item(0).setAttribute('name', startName + ".inputProductId")
                tr.children.item(2).children.item(0).setAttribute('name', startName + ".expireDate")
                tr.children.item(3).children.item(0).setAttribute('name', startName + ".price")
                tr.children.item(4).children.item(0).setAttribute('name', startName + ".amount")
                const removeBtn = tr.children.item(5).children.item(0)
                removeBtn.setAttribute('data', i.toString())

                if (i === 0) {
                    tr.children.item(4).children.item(0).setAttribute('disabled', `true`)
                }
            }
        }

    }
</script>
</body>
</html>