<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Context</title>
    <link rel="stylesheet" th:href="@{/assets/css/bootstrap.css}">
    <link rel="stylesheet" th:href="@{/assets/css/main.css}">
</head>
<body>
<div class="px-4 " id="main">
<h1>Context</h1>
</div>
</body>
<script th:inline="javascript">
    let notificationsCount=/*[[${@notificationService.getNotificationsCount()}]]*/0, user=/*[[${@authService.getUser(#httpServletRequest)}]]*/{}
</script>
<script type="text/javascript" th:src="@{/assets/js/context.js}"></script>
</html>