<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>
<body>
<div class="container">
    <h1>Users Page</h1>
    <a href="/users/add" class="btn btn-success">Yangi Users Qo'shish</a>
    <table class="table table-hover">
        <thead>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Email</th>
            <th>Warehouse</th>
            <th>Operations</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each=" users,i : ${list}">
            <td th:text="${i.index+1}"></td>
            <td th:text="${users.name}"></td>
            <td th:text="${users.warehouse.name}"></td>
            <td>
                <a class="btn btn-warning" th:href="${'/department/edit/'+users.id}">Edit</a>
                <a class="btn btn-danger" th:href="${'/department/delete/'+users.id}">Delete</a>
            </td>
        </tr>
        </tbody>
    </table>
</div>

</body>
</html>